/* ordi */
@media (min-width: 1024px) {
  .background {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    background-image: url("./images/pexels-george-dolgikh-giftpunditscom-2072181.jpg");
  }

  .waze {
    position: absolute;
    top: 40%;
    right: 52%;
    width: 20%;
    transform: rotate(335deg);
    text-decoration: none;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .background {
    background-position-y: 0px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: cover;
    background-image: url("./images/pexels-george-dolgikh-giftpunditscom-2072181.jpg");
  }

  .waze {
    position: absolute;
    top: 30%;
    right: 54%;
    width: 17%;
    transform: rotate(335deg);
    text-decoration: none;
  }

  p {
    font-size: smaller;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

@media (max-width: 768px) {
  .background {
    background-position-y: 0px;
    height: 100vh;
    background-position-x: -400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/pexels-george-dolgikh-giftpunditscom-2072181.jpg");
  }

  .waze {
    position: absolute;
    top: 45%;
    right: 45%;
    width: 50%;
    transform: rotate(335deg);
    text-decoration: none;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}
