/* ordi */

.background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  background-image: url("./images/train.jpg");
  display: flex;
  align-items: center;
}

.background2 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-image: url("./images/mouette.jpg");
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.63);
  width: 40%;
}
.waze {
  width: 170px;
  height: 160px;
  margin-bottom: 30px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
  text-align: center;
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: medium;
}

@media (max-width: 768px) {
  .background {
    background-position-y: 0px;
  }

  .box {
    width: 70%;
  }
}
